header 
    .banner-wrap
        .wrapper 
            .banner
                a(href="index.html") 
                    img.logo(src="img/logo2.png", alt="logo")
    .main-menu-wrap
                .wrapper 
                    nav.main-menu
                        li 
                            a(href="index.html") Главная
                        li 
                            a(href="about.html") О нас
                        li 
                            a(href="index.html") Мероприятия 
                        li 
                            a(href="index.html") Цены 
                        li 
                            a(href="information.html") Частые вопросы 
                        li 
                            a(href="about.html") Контакты 