header 
    .wrapper 
        .main-banner
            .main-banner__header 
                p Москва
                img.logo(src="../img/logo2.png", alt="logo")
                p +7 (499) 638 22 65
            p Полисинема —один из самых масштабных культурно-развлекательных центров в Москве.Lorem lorem lorem lorem Lorem lorem lorem lorem lorem lorem lorem Lorem lorem lorem lorem lorem lorem lorem Lorem lorem lorem lorem lorem lorem lorem Lorem lorem lorem lorem lorem lorem lorem Lorem lorem lorem lorem lorem lorem lorem Lorem lorem lorem lorem lorem lorem lorem Lorem lorem lorem lorem 
        nav.main-menu
            li 
                a(href="#") О нас    
            li 
                a(href="#") Мероприятия 
            li 
                a(href="#") Цены 
            li 
                a(href="#") Частые вопросы 
            li 
                a(href="#") Контакты 