html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles/styles.css")
        title Полезная информация
    body
        include modules/header.pug
        section.howfind-wrapper
            .wrapper
                h1 КАК НАС НАЙТИ?
                ul 
                    li Москва, проезд Березовой Рощи, д. 12.Мы находимся в районе Ходынки (Ходынское поле)Ближайшие метро: ЦСКА, Полежаевская, Аэропорт, Хорошевская
                    li.
                        Время работы игрового центра: <br>
                        ПН-ЧТ 10:00-21:00<br>
                        ПТ 10:00-22:00<br>
                        СБ-ВС 09:00-23:00<br>
                        Звонки принимаются до 21:00.<br>
                        После 21:00 - все игры проводятся только по предварительной записи в рабочее время центра.
                p. 
                    Здание расположено напротив футбольного стадиона ЦСКА. Вывеска Полисинема находится ближе к левой части здания с внешней стороны дома (ярко-зеленая дверь рядом с аптекой).Гостям на личном автотранспорте:Рекомендуемый проезд - через Хорошевское шоссе и Ленинградский проспект. Машину можно разместить вдоль дома с внешней стороны на платной городской парковке "4013".От станции метро «ЦСКА»:Выход из метро к ТРЦ “Авиапарк”, после стеклянных дверей налево. Двигайтесь вдоль торгового центра и ЖК “Лайнер”.
                .map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad88dc895bf1adc9918f5b70e53f3f9837f9f1f561e94a83a142507ee59f8ee68&amp;width=1420&amp;height=694&amp;lang=ru_RU&amp;scroll=true"></script>
                p.
                    ТАРИФЫ АВТОСТОЯНКИ:
        section.questions-wrapper
            .wrapper 
                h1 ЧАСТЫЕ ВОПРОСЫ
                .questions_answer
                    li Вопрос 1
                    p Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ 
                .questions_answer
                    li Вопрос 2
                    p Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ 
                .questions_answer
                    li Вопрос 3
                    p Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ Ответ ответ 
        include modules/footer.pug